<section class="mov">
  <h1 class="text-center p-2">NODEFLIX</h1>
  <div class="container d-flex justify-content-end align-items-center gap-3">
    <button type="button" class="btn bi bi-person-fill-gear fs-3 text-light"></button>
    <button type="button" class="btn btn-outline-danger" id="logOutButton">Log out</button>
  </div>

  <div class="container mb-5">
    <select class="form-select-sm" aria-label="Default select example" id="select">
      <option selected>Filtrar por pais</option>
      {{#each countries}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="movies d-flex flex-wrap gap-5 justify-content-center">
    {{#each movies.docs}}
    <div class="card bg-dark text-light" style="width: 18rem;">
      <img src="{{poster}}" class="card-img-top" alt="Poster of the film {{title}}" style="height: 60%;" />
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{plot}}</p>
      </div>
      {{!-- <ul class="list-group list-group-flush">
        {{#each genres}}
        <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul> --}}

      <div class="card-body align-self-end position-r ">
        <button class="card-link align-self-end btn btn-primary position-a2 text-nowrap" value="{{_id}}"
          id="buyButton">Comprar</button>
        <button class="card-link align-self-end btn btn-primary position-a text-nowrap" id="{{_id}}">Ver más</button>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="container d-flex flex-row" style="width: fit-content; text-wrap: nowrap;">
    {{#if movies.hasPrevPage}}
    <div class="container ">
      <button type="button" class="btn btn-primary ml-5 mt-5 mb-5" id="prevPage">Prev Page</button>
      <span id="prevPageNumber" class="d-none">{{movies.prevPage}}</span>
    </div>
    {{/if}}
    {{#if movies.hasNextPage}}
    <div class="container">
      <button type="button" class="btn btn-primary mt-5 mb-5" id="nextPage">Next
        Page</button>
      <span id="nextPageNumber" class="d-none">{{movies.nextPage}}</span>
      <span id="currentPage" class="d-none">{{movies.page}}</span>
    </div>
    {{/if}}
  </div>

</section>

<script type="module">
  if (localStorage.getItem('country')) {
    localStorage.removeItem('country')
  };
  //** PREV NEXT PAGES 
  const prevPageNumber = document.getElementById('prevPageNumber');
  const nextPageNumber = document.getElementById('nextPageNumber');
  let PPNumber;
  let NPNumber;
  prevPageNumber ? PPNumber = prevPageNumber.textContent : null;
  nextPageNumber ? NPNumber = nextPageNumber.textContent : null;
  if (document.getElementById('nextPage')) {
    const nextPage = document.getElementById('nextPage');
    nextPage.addEventListener('click', () => { window.location.href = `/mov?page=${NPNumber}` });
  } if (document.getElementById('prevPage')) {
    const prevPage = document.getElementById('prevPage');
    prevPage.addEventListener('click', () => { window.location.href = `/mov?page=${PPNumber}` });
  }
  //* VER MAS button 
  const verMas = document.querySelectorAll('.card-link');
  verMas.forEach((element) => {
    element.addEventListener('click', () => {
      window.location.href =
        `/mov/one/${element.id}`
    })
  });
  const currentPage = document.getElementById('currentPage');
  if (currentPage) {
    const pageJSON = JSON.stringify(currentPage.textContent);
    console.log(currentPage.textContent)
    localStorage.setItem("currentPage", pageJSON)
  };
  //* SELECT 
  const select = document.getElementById('select');
  select.addEventListener('change', () => {
    const selectedOption = select.options[select.selectedIndex].value;
    JSON.stringify(selectedOption);
    localStorage.setItem('country', selectedOption)
    window.location.href = `/mov/country?country=${selectedOption}&page=1`
  })
  // LOG OUT 
  const logOutButton = document.getElementById('logOutButton');
  logOutButton.addEventListener('click', (req, res) => {
    window.location.href =
      '/logout'
  });

  //body
  const body = document.getElementsByTagName('body');
  body[0].setAttribute("style", "background-color:black;");
</script>